<div class="modal-header gradient-custom-2">
    <h5 class="modal-title" id="exampleModalLabel">Client Information</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="clientInfoForm" ngNativeValidate>
          <div class="modal-body pt-0">
              <div class="form-group col mt-1" *ngIf="hasClientData">
                  <label>Client ID<sup
                    class="text-danger">*</sup></label>
                  <input type="text" class="form-control text-secondary bg-light" name="clientId" formControlName="clientId" readonly required>
              </div>

              <div class="form-group col mt-2">
                <label>Client Name<sup
                    class="text-danger">*</sup></label>
                <input type="text" id="clientCreationInputName" class="form-control" name="clientName" formControlName="clientName" (change)='validateName()'>
            </div>
            <div class="form-group col mt-2">
                <label>Client Email<sup
                    class="text-danger">*</sup></label>
                <input type="text" id="clientCreationInputEmail" class="form-control" name="clientEmail" formControlName="clientEmail"  (change)='validateEmail()'>
            </div>
            <div class="row">
                <div class="form-group col-12 mt-2">
                    <label>Address 1</label>
                    <input type="text" class="form-control" name="clientAddress1" formControlName="clientAddress1">
                </div>
                <div class="form-group col-12 mt-2">
                    <label>Address 2</label>
                    <input type="text" class="form-control" name="clientAddress2" formControlName="clientAddress2">
                </div>
                <div class="form-group col-sm-6 mt-2">
                    <label>City</label>
                    <input type="text" class="form-control" name="clientCity" formControlName="clientCity">
                </div>
                <div class="form-group col-sm-3 mt-2">
                    <label>State</label>
                    <input type="text" class="form-control" name="clientState" formControlName="clientState">
                </div>
                <div class="form-group col-sm-3 mt-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" name="clientZip" formControlName="clientZip">
                </div>
            </div>
              <div class="form-group col mt-2">
                <label>Client Phone<sup
                    class="text-danger">*</sup></label>
                <input type="text" id="clientPhoneModal" class="form-control cust-requiredField" name="clientPhone" formControlName="clientPhone" (change)="validatePhone()">
            </div>
            <div class="form-group col mt-2">
                <label>Point of Contact<sup
                    class="text-danger">*</sup></label>
                <input type="text" id="clientPOCModal" class="form-control cust-requiredField" name="clientPOC" formControlName="clientPOC" (change)="validatePOC()">
            </div>
            <div class="form-group col mt-2">
                <label>Client Tier</label>
                <!-- <input type="text" class="form-control" name="clientTier" formControlName="clientTier"> -->
                <!-- <select id="clientTier" class="form-select form-control" formControlName="clientTier" [(ngModel)]="clientTierSelected"> -->
                <select id="clientTier" class="form-select form-control" formControlName="clientTier">
                    <option value="1 - Exclusive">1 - Exclusive</option>
                    <option value="2 - Premium">2 - Premium</option>
                    <option value="3 - Basic">3 - Basic</option>
                </select>
            </div>
            
              <div class="form-group col mt-2 d-flex flex-column">
                <label for="slideStatus">Client Status</label>
                <select id="slideStatus" class="form-select form-control" formControlName="clientStatus">
                    <option value="Beginner">Beginner</option>
                    <option value="Active">Active</option>
                    <option value="Passive">Passive</option>
                </select>
              </div>
          </div>
      </form>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal" (click)="close()">
        Cancel
      </button>
      <!-- <button type="submit" id="editClientModalButton" class="btn btn-dark btn-sm" [disabled]="" (click)="updateClient(this)"></button> -->
      <button type="submit" id="editClientModalButton" class="btn btn-sm gradient-custom-2" [disabled]="saveButtonDisabled" (click)="updateClient(this)">
        Save
        <!-- <span *ngIf="loader">&nbsp;</span>
        <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
          <span class="sr-only">Loading...</span>
        </div> -->
      </button>
</div> 